/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

    /* Add padding and center-align text to the container */
    .model__container {
      padding: 16px;
      text-align: left;
      width: 500px;
      margin: auto;
  }
    /* Add a color to the delete button */
    .model__deletebtn {
      background-color: #f44336;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      opacity: 0.9;
      width: 100%;
      color: white
    }
    
  